

:root {
  --backmenu: #ffffff;
  --backgroundnav: #27bbc0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(240, 237, 237);
}

.main {
  min-height: calc(100vh - 140px);

  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }



  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }

  h1 {
    text-align: center;
    /* border: dashed rgb(36, 23, 160); */
    color: rgb(0, 0, 0);
    font-family: "Sour Gummy", sans-serif;
  }